<form method="post" action="{{ path('app_device_delete', {'id': device.id}) }}">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ device.id) }}">
    <button class="btn danger"><i class="fa-solid fa-check"></i> Oui</button>
</form>