{% extends 'base.html.twig' %}

{% block title %}Ajouter un appareil{% endblock %}

{% block body %}
    <div class="container">
        <h1>Ajouter un appareil</h1>
        {{ include('device/_form.html.twig') }}
    </div>
{% endblock %}