@use 'variable';
@use 'nav';

* {
  font-family: 'quicksand', sans-serif;

  h1, h2, h3, h4, h5, h6 {
    font-family: 'anton', sans-serif;
    margin: 0;
  }

  i {
    margin-right: 5px;
  }
}

body {
  margin: 0;

  nav {
    display: flex;
    justify-content: space-between;
  }
}

.btn {
  cursor: pointer;
  font-size: 18px;
  border: none;
  text-decoration: none;
  padding: 10px 15px;
  font-weight: 600;
  border-radius: 50px;
}


.container {
  width: 100%;
  max-width: 1140px;
  margin: 10px auto;

  .item-header {
    height: 25px;
    display: grid;
    grid-template-columns: 1fr repeat(3, 8fr);
    justify-items: center;
    margin-top: 10px;
    padding: 10px;
    border-radius: 50px;

    div {
      display: flex;
      width: 100%;

      p {
        font-weight: 600;
        width: 100%;
        max-width: 250px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }

    .center {
      justify-content: center !important;
    }

    .end {
      justify-content: flex-end !important;
    }
  }

  .first-third {
    display: grid;
    column-gap: 10px;
    grid-template-columns: repeat(3, 1fr);
    align-items: end;

    .item {
      padding: 10px 0;
      background: variable.$grey;
      border-radius: 10px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;

      h2 a {
        text-transform: uppercase;
        text-decoration: none;
        color: variable.$primary;
      }

      .index {
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 900;
        border-radius: 50%;
      }

      .value {
        font-size: 18px;
        font-weight: 700;
      }
    }

    .item:nth-of-type(1) {
      height: 225px;
      order: 2;
      .index {
        font-size: 90px;
        width: 100px;
        height: 100px;
        background: #FFD700;
        color: #fff;
      }
    }
    .item:nth-of-type(2) {
      height: 150px;
      order: 1;
      .index {
        font-size: 45px;
        width: 55px;
        height: 55px;
        background: #C0C0C0;
        color: #fff;
      }
    }
    .item:nth-of-type(3) {
      height: 125px;
      order: 3;
      .index {
        font-size: 30px;
        width: 40px;
        height: 40px;
        background: #CD7F32;
        color: #fff;
      }
    }
  }

  .list {
    .item {
      height: 30px;
      background: variable.$grey;
      display: grid;
      grid-template-columns: 1fr repeat(3, 8fr);
      justify-items: center;
      margin-top: 10px;
      padding: 10px;
      border-radius: 50px;

      div {
        display: flex;
        width: 100%;
      }

      .center {
        justify-content: center !important;
      }

      .end {
        justify-content: flex-end !important;
      }


      a, span {
        background: variable.$primary;
        color: white;
        font-weight: 600;
        text-decoration: none;
        width: 100%;
        max-width: 250px;
        border-radius: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
}

form {
  display: flex;
  flex-direction: column;

  div {
    display: flex;
  }

  label {
    margin-top: 5px;
    padding: 5px 10px;
    font-weight: 500;
    display: block;
  }

  .register {
    display: flex;
    justify-content: flex-end;

    .btn {
      margin-top: 10px;
      width: 100%;
      max-width: 300px;
    }
  }


  input {
      height: 25px;
      border-radius: 50px;
      border: none;
      background: variable.$grey;
      padding: 5px 10px;
      font-size: 16px;
  }

  .condition {
    label {
      margin-top: 0;
    }
    input {
      width: 15px;
      margin-top: 4px;
    }
  }
}