@use 'variable';

nav {
  height: 80px;
  bottom: 0;
  position: fixed;
  background: linear-gradient(
                  rgba(0, 0, 0, 0.1),
                  rgba(0, 0, 0, 0.1)
  ), url("../images/second-background.svg") no-repeat center;
  background-size: cover;
  .container {
    margin: 10px auto;
    width: 100%;
    max-width: 1140px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.nav {

  .item {
    color: #fff;
    font-size: 18px;
    text-decoration: none;
  }

  z-index: 5;
  img {
    height: 30px;
    padding-top: 15px;
  }
  top: 0;
  position: sticky;
  background: url("../images/blue-background.svg") no-repeat bottom;
  background-size: cover;
  .container {
    margin: 10px auto;
    width: 100%;
    max-width: 1140px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

nav, .nav {
  display: flex;
  justify-content: center;
  color: #fff;
  width: 100%;
  .menu {
    padding: 0;
    margin: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    .menu-link {
      color: #fff;
      text-decoration: none;
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 10px;
    }
  }
  .menu-item {
    list-style: none;
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
    a {
      font-size: 28px;
      overflow: hidden;
      white-space: nowrap;
      display: flex;
      align-items: center;
      text-decoration: none;
      color: variable.$primary;
      text-align: right;
      background: #fff;
      height: 60px;
      width: 60px;
      border-radius: 50%;
      justify-content: center;
      i {
        margin: 0;
      }
    }
    a.select {
      font-size: 28px;
      color: variable.$secondary;
    }
  }
}

@media (max-width: 1140px) {
  nav{
    .container {
      width: 90%;
      max-width: 1140px;
    }
  }
}