@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

$primary : #44bd32;
$secondary : #7fdd6d;

$grey: #e2e2e2;

$danger : #e84118;
$warning : #fbc531;

.primary {
  background: $primary !important;
  color: #fff !important;
}

.secondary {
  background: $secondary !important;
  color: #fff !important;
}

.danger {
  background: $danger !important;
  color: #fff !important;
}

.warning {
  background: $warning !important;
  color: #000 !important;
}