<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
            {{ encore_entry_script_tags('loading') }}
        {% endblock %}

        {% set current_path = app.request.get('_route') %}
    </head>
    <body>

    <div id="loader">
        <div id="loader-animation"></div>
    </div>

    {{ component('nav', { path: current_path }) }}

    <div class="nav">
        <div class="container">
            <img src="/assets/logo.png" alt="Logo">
        </div>
    </div>

        {% block body %}{% endblock %}
    </body>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
            integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous">
    </script>

    <script src="https://kit.fontawesome.com/60a2d3ab97.js" crossorigin="anonymous"></script>
</html>
