{% extends 'base.html.twig' %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block title %}Atmos Road{% endblock %}

{% block body %}
    <div class="container">

        <h1>Le projet "ATMOS ROAD"</h1>
        <h2>C'est quoi ?</h2>
        <h2>Comment ça marche ?</h2>
        <h2>Rejoindre le programme</h2>
        <h2>Ressources</h2>

    </div>
{% endblock %}