{% extends 'base.html.twig' %}

{% block title %}Modifier vos informations{% endblock %}

{% block body %}
    <div class="container center">
        <h1>Modifier vos informations</h1>
        {{ include('user/_form.html.twig', {'button_label': 'Mettre à jour'}) }}
    </div>
{% endblock %}
